body{
    /*background-color: limegreen;*/
}
.container{
    background-color: white;
}
.form_box{
    width: 50%;
}
.article{
    border: 2px solid;
    padding: 1rem 1rem;
}
.conf_quest{
    font-style: italic;
    font-weight: bold;
}

.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}

.field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
}

.crud_comment{
    font-size: 2rem;
}

.pagination {
   text-align: center;
}

.pagination a, .pagination .page-disabled {
   display: inline-block;
   border: solid 1px #6a7ddd;
   border-radius: 3px;
   padding: 5px;
   margin: 3px;
}

.pagination a {
   background: #6a7ddd;
   color: white;
}

.pagination a:hover {
   background: #6a7dff;
   text-decoration: underline;
}

.pagination .page-disabled {
   background: #6a7dcc;
   color: #dddddd
}