{% extends 'base.html' %}
{% block title %}
    View
{% endblock %}
{% block menu %}
    <li><a href="{% url 'article_update' article.pk %}" class="nav-link">Update</a></li>
    <li><a href="{% url 'article_delete' article.pk %}" class="nav-link">Delete</a></li>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <div class = "article w-100 mr-auto ml-auto mb-5">
            <h1 class = "text-center">{{ article.title }}</h1>
            <p><strong>By:</strong> {{ article.author }}</p>
            <p>{{ article.text|escape|linebreaks }}</p>
            <p class="font-italic">Created at {{ article.created_at }}</p>
            <p><strong>Теги: </strong>
                {% for tag in tags %}
                    <a href="/?search={{ tag.name }}&search_field=tags">{{ tag.name }}</a>
                {% endfor %}
            </p>
            <a href="{% url 'article_update' article.pk %}" class="card-link btn btn-success">Update</a>
            <a href="{% url 'article_delete' article.pk %}" class="card-link btn btn-success">Delete</a>
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        <div class="w-50 pb-5">
            <form method="POST" action="{% url 'add comment to article' article.pk %}" class=" pt-3 pb-3">
                {% include 'partial/article_form.html' with button_text='Add' %}
            </form>
        </div>
        {% include 'partial/list.html' %}
    </div>

{% endblock %}
