

<div class="mt-1 mb-1 row justify-content-center">
    {% for article in articles %}
        <div class="card ml-1 mr-1 mb-1" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ article.title }}</h5>
                <div class="row justify-content-between mx-1">
                    {% for tag in article.tags.all %}
                        <a href="/?search={{ tag.name }}&search_field=tags">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="btn-group">
                <a href="{% url 'article_view' article.pk %}" class="card-link btn btn-success btn-sm">Read</a>
                <a href="{% url 'article_update' article.pk %}" class="card-link btn btn-success btn-sm">Update</a>
                <a href="{% url 'article_delete' article.pk %}" class="card-link btn btn-success btn-sm">Delete</a>
            </div>
        </div>
    {% endfor %}
</div>